/* Homepage Styles */
@import "tailwindcss";

/* Importer les polices Google */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Suez+One&display=swap');

:root {
  --toastify-color-progress-light: hsl(var(--nextui-primary));
  --toastify-color-progress-dark: hsl(var(--nextui-primary));
  --toastify-color-progress-success: hsl(var(--nextui-success));
  --toastify-icon-color-success: hsl(var(--nextui-success));
  --toastify-color-progress-warning: hsl(var(--nextui-warning));
  --toastify-icon-color-warning: hsl(var(--nextui-warning));
  --toastify-color-progress-error: hsl(var(--nextui-danger));
  --toastify-icon-color-error: hsl(var(--nextui-danger));
  
  /* Variables de polices personnalisées */
  --font-family-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  --font-family-display: 'Suez One', serif;
  --font-family-body: 'Hind Siliguri', sans-serif;
}

/* Appliquer Suez One par défaut */
html, body {
  font-family: var(--font-family-display);
}
